
<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body class="container">


<main>
    <div>
        <p class="textColor">Weather App</p>

        <form id="ZipCode" name="ZipCode" action="/APIcall", method="post">
            <input id="inputZipCode" type="text" placeholder="ZipCode" name="ZipCode" />
            <button id="btnSubmit" type="submit">Submit</button>
        </form>

        <h1> <%= city %> , <%= state %> </h1>
        <h1> <%= weatherSummary%> , <%= temp%> , <%= time%></h1>


    </div>
</main>

</body>
</html>